<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <!-- Uploads arrive in 5 MB chunks, so 16 MB per request is plenty (value in KB). -->
    <httpRuntime targetFramework="4.8" maxRequestLength="16384" executionTimeout="600" enableVersionHeader="false" />
    <sessionState mode="Off" />
    <customErrors mode="RemoteOnly" />
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <!-- bytes: 16 MB -->
        <requestLimits maxAllowedContentLength="16777216" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="same-origin" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
